.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 180px;
        position: relative;
        overflow: visible;
    }
}

header{

    img{
        width: 100%;
       height: 646px;
        object-fit: cover;
        position: absolute;
    }
    div{
        color: var(--neutral-800, #ffffff);
        text-align: left;
        font-family: var(--heading-1-font-family, 'WorkSans-SemiBold', sans-serif);
        font-size: var(--heading-1-font-size, 72px);
        font-weight: var(--heading-1-font-weight, 600);
        position: relative;
        p{
            margin: 0;
        }
    }
}